
@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;

/* -----------------------------------------
|| ESTILOS GERAIS E RESETS
----------------------------------------- */


*,
*::before,
*::after {
    box-sizing: border-box;

    /* -----------------------------------------
    || CASO USUÁRIO NÃO QUEIRA ANIMAÇÕES
    ----------------------------------------- */
    @media (prefers-reduced-motion: reduce) {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

html {
    scroll-behavior: smooth;

    @media only screen and (max-width: 300px) {
        font-size: 14px;
    }
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: f.$ff-primary;
    color: c.$clr-primary;
    background-color: c.$clr-secondary;

    &::-webkit-scrollbar {
        width: auto;
    }
  
    &::-webkit-scrollbar-track {
        background: hsl(0, 0%, 4%);
    }
    
    &::-webkit-scrollbar-thumb {
        background: hsl(0, 0%, 45%);
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: hsl(0, 0%, 39%);
    }
}

::selection {
    color: white;
    background-color: c.$clr-accent-faded;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.1;
}

p {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

section {
    display: grid;
    place-items: center;
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 0.25rem;
    padding-inline: 1.625rem;

    &:last-of-type {
        padding-bottom: 6rem;
    }

    @media only screen and (max-width: 575px) {
        padding-top: 5rem;
    }
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    &--lg {
        max-width: 1300px;
    }
}

.text-center {
    text-align: center;
}

.title {
    position: relative;
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 3rem;
    font-size: clamp(2.25rem, 3vw, 3rem);
    font-family: f.$ff-accent;

    @media only screen and (max-width: 750px) {
        margin-bottom: 2.625rem;
    }
}
