
[data-animate] {
    opacity: 0;
    transition: transform 1s,
                opacity 1s;
}

[data-animate="slidesRight"] {
    transform: translateX(-30px);
}

[data-animate="slidesLeft"] {
    transform: translateX(30px);
}

[data-animate="slidesDown"] {
    transform: translateY(-30px);
}

[data-animate="slidesUp"] {
    transform: translateY(30px);
}

.animate {
    opacity: 1;
    transform: translate(0, 0);
}
