/* Archivo */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&family=Lobster&family=Montserrat&display=swap");
/* Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* -----------------------------------------
|| ESTILOS GERAIS E RESETS
----------------------------------------- */

:root {
  --ff-primary: "Archivo", sans-serif;
  --ff-accent: "Exo 2", sans-serif;

  --clr-primary: rgb(228, 228, 228);
  --clr-secondary: rgb(24, 24, 24);
  --clr-accent: 57, 158, 90;

  --section-clr-1: rgb(9, 9, 9);
  --section-clr-2: rgb(18, 18, 18);
  --section-clr-3: rgb(27, 27, 27);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

::selection {
  color: white;
  background-color: rgba(var(--clr-accent), 0.9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.1;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

section {
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: 4.75rem;
  padding-inline: 1.25rem;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
} 

.container--lg {
  max-width: 1500px;
}

.text-center {
  text-align: center;
}

.title {
  position: relative;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 3rem;
  font-size: clamp(2.25rem, 3vw, 3rem);
  font-family: var(--ff-accent);
}

.btn {
  min-width: fit-content;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding-block: 0.5em;
  padding-inline: 1.25em;
  font-family: var(--ff-accent);
  font-size: 1.1rem;
  border-radius: 2px;
  outline: none;
  background-color: var(--btn-color);
  color: var(--clr-primary);
  border: 1px solid var(--btn-color);
  cursor: pointer;
  transition: 100ms ease-in;
}

.btn--primary {
  --btn-color: #7a7a7a;
}

.btn--primary:hover,
.btn--primary:focus {
  --btn-color: #616161;
}

.btn--alt {
  --btn-color: rgba(var(--clr-accent), 1);
  border: 1px solid rgba(var(--clr-accent), 1);
}

.btn--alt:hover,
.btn--alt:focus {
  --btn-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  color: var(--clr-secondary);
}



/* -----------------------------------------
 ||LAYOUT
----------------------------------------- */

/* || NAVBAR */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  z-index: 999;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 200ms ease-in;
}

header.active {
  background-color: rgb(33, 90, 53);
  box-shadow: 0 0 15px var(--clr-secondary);
}

nav {
  width: 100%;
  text-transform: uppercase;
  font-family: var(--ff-accent);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.navbar__list {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
  padding: 0;
  transition: transform 300ms ease-in-out;
}

.navbar__link {
  position: relative;
  width: fit-content;
  transition: transform 200ms ease-in;
}

.navbar__link:hover,
.navbar__link:focus {
  transform: translateY(2px);
}

.navbar__link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-primary);
  transform: scaleX(0);
}

.navbar__link.active::before {
  transform: scaleX(1);
}

.navbar__item.close {
  display: none;
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 1.5rem;
}

.navbar__toggle-btn {
  display: none;
  background-color: rgba(var(--clr-accent), 1);
  border-radius: 3px;
}

.navbar__toggle-btn,
.navbar__close-btn {
  font-size: 2rem;
  font-weight: bold;
  background: none;
  color: var(--clr-primary);
  border: 0;
  cursor: pointer;
}


/* || SECTION 1 (HOME) */


.home {
  position: relative;
  min-height: 95vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../img/placeholder.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-blend-mode: darken;
  background-attachment: fixed;
  padding-bottom: 5rem;
  color: var(--clr-primary);
  overflow: hidden;
  z-index: 1;
}

.home__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.home__box {
  position: relative;  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.meu-nome {
  position: relative;
  padding-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(3rem, 7vw, 5rem);
  font-weight: 500;
  text-transform: uppercase;
  z-index: 3;
}

.meu-nome::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  height: 3px;
  background-color: rgba(var(--clr-accent), 1);
}

.subtitle {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: var(--ff-accent);
  font-weight: 300;
  margin-top: 0.25rem;
}

.scroll-down-btn {
  position: absolute;
  bottom: 10%;
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  z-index: 4;
  transition: transform 200ms ease-in-out;
}

.scroll-down-btn:hover,
.scroll-down-btn:focus {
  transform: translateY(5px);
}

.effect {
  position: absolute;
  background-color: rgba(var(--clr-accent), 0.8);
  border-radius: 100%;
  width: 6px;
  height: 6px;
  z-index: -1;
  pointer-events: none;
  animation: fadeInOut 500ms linear infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 1;
  }
}


/* || SECTION 2 (Sobre mim) */

.sobre-mim {
  position: relative;
  background-image: linear-gradient(var(--section-clr-1), var(--section-clr-2));
}

.sobre-mim__grid {
  --spacer: 1.5rem;

  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 30%;
  place-items: center;
  width: 100%;
  max-width: 900px;
  gap: var(--spacer);
}

.sobre-mim__text {
  font-size: 1.1rem;
  padding-right: calc(var(--spacer) * 2);
  border-right: 2px solid rgba(var(--clr-accent), 1);
}

.sobre-mim__title {
  max-width: 16ch;
  font-size: clamp(2rem, 3vw, 3rem);
  margin-bottom: 1.5rem;
  font-family: var(--ff-accent);
}

.sobre-mim__text p:first-of-type {
  margin-bottom: 1rem;
}

.sobre-mim__img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 3px;
  box-shadow: 1px 1px 2px white;
}

.info {
  grid-column: span 2;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-inline: auto;
  margin-top: calc(var(--spacer) / 2);
  padding-top: var(--spacer);
  color: var(--clr-primary);
  min-width: 100%;
  border-top: 2px solid rgba(var(--clr-accent), 1);
  color: rgb(245, 245, 245);
}

.info__item {
  font-weight: 100;
  transition: color 200ms;
}

.info__item:hover,
.info__item:focus {
  color: rgb(180, 180, 180);
}

.info__item .bi {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  color: rgba(var(--clr-accent), 1);
}


/* || SECTION 3 (Projetos) */

.projetos {
  position: relative;
  background-image: linear-gradient(var(--section-clr-2) 80%, var(--section-clr-3));
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1.5rem;
}


.card {
  position: relative;
  overflow: hidden;
  background-color: #242526;
  color: var(--clr-primary);
  border-radius: 3px;
  border-bottom-right-radius: 0;
  box-shadow: 1px 1px 3px var(--clr-primary);
}
  
.card:hover .card__img,
.card:focus-within .card__img {
  filter: brightness(65%);
}

.card:hover .link-icon,
.card:focus-within .link-icon {
  opacity: 1;
}

.card > a {
  display: block;
  position: relative;
  outline: none;
}

.card__img {
  max-width: 100%;
  transition: 200ms ease-in;
}

.card__body {
  padding: 1rem;
}

.card__title {
  position: relative;
  margin-bottom: 0.75rem;
  max-width: fit-content;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.card__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  width: 80px;
  height: 2px;
  background-color: rgba(var(--clr-accent), 1);
}

.link-icon {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.125rem;
  opacity: 0;
  transition: opacity 200ms ease-in;
}


/* || SECTION 4 (Contato) */

.contato {
  position: relative;
  background-image: linear-gradient(var(--section-clr-3), var(--section-clr-3));
}

.contato__form {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(var(--clr-accent), 1);
}

.contato__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.925rem;
}

.contato__input-wrapper {
  display: flex;
  width: 100%;
  gap: 0.75rem;
}

.contato__input {
  flex: 1;
  display: block;
  border: 0;
}

.contato__textarea {
  resize: none;
  min-height: 200px;
  min-width: 100%;
}

.contato__input,
.contato__textarea {
  padding: 0.5rem 0.75rem;
  font-size: 1.125rem;
  font-family: var(--ff-primary);
  border-radius: 3px;
  outline: none;
  background-color: rgb(245, 245, 245);
  color: rgb(58, 58, 58);
  box-shadow: inset 0 0 4px var(--clr-secondary);
}

.contato__form input[type="submit"] {
  position: relative;
  margin-top: 1rem;
}



/* -----------------------------------------
|| RODAPÉ
----------------------------------------- */

footer {
  padding: 1rem;
  font-size: 0.9rem;
  background-color: rgba(var(--clr-accent), 0.5);
  font-family: var(--ff-accent);
}



/* -----------------------------------------
|| RESPONSIVIDADE
----------------------------------------- */


@media all and (max-width: 860px) {
  .btn {
    font-size: 1rem;
  }

  .sobre-mim__grid {
    --spacer: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .sobre-mim__text {
    grid-column: span 2;
    margin-bottom: 0;
    padding-right: 0;
    border: 0;
  }

  .sobre-mim__img {
    justify-self: end;
  }

  .info {
    grid-column: 2;
    min-height: 100%;
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 0;
    padding-left: var(--spacer);
    font-size: 0.925rem;
    border-top: 0;
    border-left: 2px solid rgba(var(--clr-accent), 1);
  }
}

@media all and (max-width: 575px) {
  section {
    padding-block: 3.5rem;
  }

  .projetos {
    padding-block: 5;
  }

  .sobre-mim__grid {
    grid-template-columns: 1fr;
  }

  .sobre-mim__text {
    grid-column: auto;
  }

  .sobre-mim__img {
    justify-self: center;
  }

  .info {
    grid-column: auto;
    align-items: center;
    gap: 0.75rem;
    border-top: 2px solid rgba(var(--clr-accent), 1);
    border-left: 0;
    justify-items: center;
    padding-left: 0;
  }
}

@media all and (max-width: 1110px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .title {
    margin-bottom: 2.625rem;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }

  .contato__input-wrapper {
    flex-direction: column;
  }

  .contato input[type="submit"] {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  header.active {
    background-color: transparent;
    box-shadow: none;
  }

  .navbar {
    justify-content: flex-end;
    padding-block: 0.25rem;
    padding-inline: 0.25rem;
  }

  .navbar__list {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 60vw;
    gap: 2rem;
    padding: 2rem;
    padding-top: 4rem;
    flex-direction: column;
    background-color: rgb(33, 90, 53);
    box-shadow: 0 0 15px var(--clr-secondary);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(calc(-100% - 5px));
  }

  .navbar__list.active {
    transform: translateX(0);
  }

  .navbar__item.close {
    display: block;
  }

  .navbar__toggle-btn {
    display: inline-block;
    background-color: rgba(var(--clr-accent), 1);
    box-shadow: -1px 1px 5px var(--clr-secondary);
    z-index: 999;
  }
}

@media all and (max-width: 300px) {
  :root {
    font-size: 14px;
  }
}



/* -----------------------------------------
|| CASO USUÁRIO NÃO QUEIRA ANIMAÇÕES
----------------------------------------- */

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}