@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&family=Lobster&family=Montserrat&display=swap");



/* -----------------------------------------
ESTILOS GERAIS E RESETS
----------------------------------------- */

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Archivo", sans-serif;
  --color-primary: white;
  --color-secondary: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: var(--ff-primary);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

section {
  min-height: 100vh;
  min-width: 100%;
  padding-block: 2.5rem;
  padding-inline: 1.5rem;
}

.container {
  width: 100%;
  max-width: 2000px;
}

.text-center {
  text-align: center;
}

.title {
  position: relative;
  font-size: clamp(2rem, 3vw, 3rem);
  width: 50%;
  margin-inline: auto;
  margin-bottom: 3rem;
  font-weight: 400;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}



/* -----------------------------------------
LAYOUT
----------------------------------------- */

/* SECTION 1 (HERO)*/

.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.hero {
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../img/placeholder.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-blend-mode: darken;
  background-attachment: fixed;
  color: var(--color-primary);
}

.hero .btn {
  max-width: fit-content;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  margin-top: 0.75rem;
  border: 1px solid var(--color-primary);
}

.hero .btn:hover,
.hero .btn:focus {
  outline: 0;
  text-decoration: underline;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.meu-nome {
  position: relative;
  font-family: var(--ff-accent);
  font-size: clamp(2.5rem, 6vw, 5rem);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.meu-nome::before,
.projetos__title::before {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -5px;
  width: 8%;
  height: 3px;
  background-color: var(--color-primary);
}

.meu-nome::after,
.projetos__title::after {
  content: "";
  position: absolute;
  right: -5%;
  bottom: -5px;
  width: 8%;
  height: 3px;
  background-color: var(--color-primary);
}

.subtitulo {
  font-size: clamp(1.25rem, 3vw, 2rem);
  margin-top: 0.5rem;
}

/* SECTION 2 (Sobre mim) */

.sobre-mim {
  background-color: rgb(5, 5, 5);
  display: grid;
  place-items: center;
}

.sobre-mim__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.sobre-mim__text {
  font-size: 1.1rem;
  opacity: 0;
  transform: translateX(-30px);
}

.sobre-mim__title {
  font-size: clamp(1.75rem, 3vw, 3rem);
  margin-bottom: 1.5rem;
  font-family: var(--ff-accent);
}

.sobre-mim__text p:first-of-type {
  margin-bottom: 1rem;
}

.sobre-mim__img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  box-shadow: 1px 1px 2px white;
  opacity: 0;
  transform: translateX(30px);
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 1rem;
  margin-inline: auto;
  color: grey;
  opacity: 0;
  max-width: fit-content;
  transform: translateY(30px);
  border-top: 1px solid var(--color-primary);
}

.email:hover,
.email:focus-within {
  color: rgb(192, 191, 191);
}

/* SECTION 3 (Projetos) */

.projetos {
  background-color: #121212;
}

.projetos__title {
  position: relative;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 4rem; 
  font-size: clamp(2rem, 4vw, 4rem);
  font-family: var(--ff-accent);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  gap: 2.5rem;
}

.card {
  animation-delay: var(--delay);
  background-color: #242526;
  box-shadow: 1px 1px 3px var(--color-primary);
  transform: translateY(30px);
  opacity: 0;
}

.card__img {
  max-width: 100%;
}


.card__body {
  padding: 1rem;
}


/* -----------------------------------------
RESPONSIVIDADE
----------------------------------------- */

@media all and (min-width: 860px) {
  .sobre-mim__box {
    flex-direction: row;
    max-width: 50%;
    margin-inline: auto;
    gap: 3rem;
  }

  .sobre-mim__text {
    padding-right: 3rem;
    border-right: 1px solid var(--color-primary);
  }

  .sobre-mim__title {
    max-width: 16ch;
  }

  .email {
    max-width: 50%;
  }
}

@media all and (min-width: 860px) and (max-width: 1357px) {
  .sobre-mim__box {
    max-width: 80%;
  }

  .email {
    max-width: 80%;
  }
}

@media all and (max-width: 1005px) {
  .grid-container {
    grid-template-columns: 1fr 1fr; 
  }
}

@media all and (max-width: 720px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}