@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&family=Lobster&family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -----------------------------------------
|| ESTILOS GERAIS E RESETS
----------------------------------------- */

:root {
  --ff-primary: "Archivo", sans-serif;
  --ff-accent: "Exo 2", sans-serif;
  --color-primary: rgb(228, 228, 228);
  --color-secondary: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: var(--ff-primary);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.1;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

section {
  min-height: 95vh;
  min-width: 100%;
  padding-block: 2.5rem;
  padding-inline: 1.5rem;
}

.container {
  width: 100%;
  margin: 0 auto;
} 

.text-center {
  text-align: center;
}

.fa {
  margin-right: 0.5rem !important;
}



/* -----------------------------------------
 ||LAYOUT
----------------------------------------- */

/* || SECTION 1 (HERO)*/

.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.hero {
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../img/placeholder.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-blend-mode: darken;
  background-attachment: fixed;
  padding-bottom: 5rem;
  color: var(--color-primary);
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.meu-nome {
  position: relative;
  font-family: var(--ff-accent);
  font-size: clamp(3rem, 6vw, 5rem);
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 3;
}

.meu-nome::before,
.projetos__title::before {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -5px;
  width: 8%;
  height: 3px;
  background-color: var(--color-primary);
}

.meu-nome::after,
.projetos__title::after {
  content: "";
  position: absolute;
  right: -5%;
  bottom: -5px;
  width: 8%;
  height: 3px;
  background-color: var(--color-primary);
}


/* || EFEITO DE GLITCH */

.glitch {
  position: absolute;
  top: 0;
  left: 0;
  animation: glitch 3000ms infinite;
  z-index: 2;
}

.glitch:first-of-type {
  --translate: -0.12em, -0.12em;

  clip-path: inset(0 0 46% 0);
}

.glitch:last-of-type {
  --translate: 0.12em, 0.12em;

  clip-path: inset(46% 0 0 0);
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  14%{
    transform: translate(0);
  }
  15% {
    transform: translate(var(--translate));
  }

  49% {
    transform: translate(var(--translate));
  }
  50% {
    transform: translate(0);
  }

  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(var(--translate));
  }
}

/*------------------------------------------------*/


.subtitulo {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: var(--ff-accent);
  margin-top: 0.25rem;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.btn {
  min-width: fit-content;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding-block: 0.5em;
  padding-inline: 1.25em;
  font-family: var(--ff-accent);
  font-size: 1.1rem;
  border-radius: 2px;
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
}

.btn--primary {
  --btn-color: #7a7a7a;
  transition: background-color 100ms ease-in,
              border 100ms ease-in;
}

.btn--primary:hover,
.btn--primary:focus {
  --btn-color: #616161;
}

.btn--alt {
  --btn-color: transparent;
  border: 1px solid var(--color-primary);
}

.btn--alt:hover,
.btn--alt:focus {
  text-decoration: underline;
}


/* || SECTION 2 (Sobre mim) */

.sobre-mim {
  background-color: rgb(5, 5, 5);
  display: grid;
  place-items: center;
}

.sobre-mim .container {
  max-width: 1000px;
}

.sobre-mim__grid {
  --spacer: 1.5rem;

  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 30%;
  place-items: center;
  width: 100%;
  max-width: 900px;
  gap: var(--spacer);
}

.sobre-mim__text {
  font-size: 1.1rem;
  padding-right: calc(var(--spacer) * 2);
  border-right: 1px solid var(--color-primary);
}

.sobre-mim__title {
  max-width: 16ch;
  font-size: clamp(2rem, 3vw, 3rem);
  margin-bottom: 1.5rem;
  font-family: var(--ff-accent);
}

.sobre-mim__text p:first-of-type {
  margin-bottom: 1rem;
}

.sobre-mim__img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 3px;
  box-shadow: 1px 1px 2px white;
}

.contato {
  grid-column: span 2;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-inline: auto;
  margin-top: calc(var(--spacer) / 2);
  padding-top: var(--spacer);
  color: var(--color-primary);
  min-width: 100%;
  border-top: 1px solid var(--color-primary);
  color: rgb(180, 180, 180);
}

.contato > * {
  transition: color 200ms;
}

.contato > *:hover,
.contato > *:focus {
  color: rgb(245, 245, 245);
}


/* || SECTION 3 (Projetos) */

.projetos {
  padding: 3.25rem 1rem;
  background-color: #121212;
}

.projetos .container {
  max-width: 1600px;
}

.projetos__title {
  position: relative;
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 2.5rem;
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-family: var(--ff-accent);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1.5rem;
  padding: 0.5rem;
}

.card {
  position: relative;
  overflow: hidden;
  background-color: #242526;
  color: var(--color-primary);
  border-radius: 3px;
  border-bottom-right-radius: 0;
  box-shadow: 1px 1px 3px var(--color-primary);
}

.card:hover .card__img,
.card:focus-within .card__img {
  filter: brightness(65%);
}

.card > a {
  display: block;
}

.card__img {
  max-width: 100%;
  transition: 200ms ease-in;
}

.card__body {
  padding: 1rem;
}

.card__title {
  position: relative;
  margin-bottom: 0.75rem;
  max-width: fit-content;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.card__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: var(--color-primary);
}



/* -----------------------------------------
|| RODAPÉ
----------------------------------------- */

footer {
  padding: 1rem;
  font-size: 0.9rem;
  background-color: rgb(73, 73, 73);
  font-family: var(--ff-accent);
}



/* -----------------------------------------
|| RESPONSIVIDADE
----------------------------------------- */

@media all and (max-width: 560px) {
  .contato {
    grid-template-columns: 1fr;
    font-size: 0.925rem;
  }
}

@media all and (max-width: 860px) {
  .btn-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  .sobre-mim__grid {
    --spacer: 1.5rem;
    grid-template-columns: 1fr;
  }

  .sobre-mim__text {
    padding-right: 0;
    border: 0;
  }

  .contato {
    grid-column: 1;
  }
}

@media all and (max-width: 800px) {
  .btn {
    font-size: 1rem;
  }
}


@media all and (max-width: 1110px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .projetos__title {
    margin-bottom: 2.625rem;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 400px) {
  .cards-container {
    padding-inline: 0;
  }
}

@media all and (max-width: 300px) {
  :root {
    font-size: 14px;
  }
}


/* -----------------------------------------
|| CASO USUÁRIO NÃO QUEIRA ANIMAÇÕES
----------------------------------------- */

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}