$clr-primary: hsl(0, 0%, 89%);
$clr-secondary: hsl(0, 0%, 9%);
$clr-accent-100: hsl(140, 47%, 42%);
$clr-accent-200: hsl(140, 47%, 24%);
$clr-accent-300: hsl(140, 47%, 18%);
$clr-accent-faded: hsla(140, 47%, 42%, 0.9);

$section-clr-1: hsl(0, 0%, 4%);
$section-clr-2: hsl(0, 0%, 7%);
$section-clr-3: hsl(0, 0%, 10%);